@import url('https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'lilmrkr';
  src: url('../fonts/lilmrkr-open-regular-webfont.woff2') format('woff2'),
       url('../fonts/lilmrkr-open-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'takota';
  src: url('takota-bra8-webfont.woff2') format('woff2'),
       url('takota-bra8-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2em !important;
    /* color: black !important; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    /* color: black !important; */
}

#loner , h1.app-name {
  font-family: 'takota', sans-serif !important;
  font-size: 4em;
  //color:black;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.search a:hover, 
.search .search-keyword, 
.app-nav a:hover, 
.app-nav a:active,
.sidebar ul li.active > a, 
.markdown-section a, 
.token.attr-value, 
.token.control, 
.token.directive, 
.token.string, 
.token.unit, 
section.cover .cover-main > p:last-child a,
section.cover blockquote > p > a:hover
{ color: black }  

.github-corner svg {
  fill: black;
}

section.cover .cover-main>p:last-child a {
    border: 1px solid black;
  }
  
section.cover .cover-main>p:last-child a:last-child {
   background-color: black;
}

:root {
  --dark-base-background: #222;
  --dark-base-color: #bbc0c4;
  --dark-theme-color: var(--theme-color, #42b983);
  --dark-code-color: var(--dark-color);
  --dark-heading-color: var(--dark-theme-color);
  --dark-cover-background: #000000a8;
  --dark-code-background: #303030;
  --dark-tip-background: #2c0000;
  --dark-warn-background: #005842;
  --dark-icon-size: 25px;
  --dark-icon-transition: .1s ease-in-out .1s;
  --dark-moon-color: #000000;
  --dark-sun-color: #ffffff;
  --dark-moon-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='M9.598 1.591a.749.749 0 0 1 .785-.175 7.001 7.001 0 1 1-8.967 8.967.75.75 0 0 1 .961-.96 5.5 5.5 0 0 0 7.046-7.046.75.75 0 0 1 .175-.786m1.616 1.945a7 7 0 0 1-7.678 7.678 5.499 5.499 0 1 0 7.678-7.678'/%3E%3C/svg%3E");
  --dark-sun-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' d='M8 12a4 4 0 1 1 0-8a4 4 0 0 1 0 8m0-1.5a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5m5.657-8.157a.75.75 0 0 1 0 1.061l-1.061 1.06a.749.749 0 0 1-1.275-.326a.749.749 0 0 1 .215-.734l1.06-1.06a.75.75 0 0 1 1.06 0Zm-9.193 9.193a.75.75 0 0 1 0 1.06l-1.06 1.061a.75.75 0 1 1-1.061-1.06l1.06-1.061a.75.75 0 0 1 1.061 0M8 0a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0V.75A.75.75 0 0 1 8 0M3 8a.75.75 0 0 1-.75.75H.75a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 3 8m13 0a.75.75 0 0 1-.75.75h-1.5a.75.75 0 0 1 0-1.5h1.5A.75.75 0 0 1 16 8m-8 5a.75.75 0 0 1 .75.75v1.5a.75.75 0 0 1-1.5 0v-1.5A.75.75 0 0 1 8 13m3.536-1.464a.75.75 0 0 1 1.06 0l1.061 1.06a.75.75 0 0 1-1.06 1.061l-1.061-1.06a.75.75 0 0 1 0-1.061M2.343 2.343a.75.75 0 0 1 1.061 0l1.06 1.061a.751.751 0 0 1-.018 1.042a.751.751 0 0 1-1.042.018l-1.06-1.06a.75.75 0 0 1 0-1.06Z'/%3E%3C/svg%3E");
}