@import url('https://fonts.googleapis.com/css?family=Raleway:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');

@font-face {
  font-family: 'lilmrkr';
  src: url('../fonts/lilmrkr-open-regular-webfont.woff2') format('woff2'),
       url('../fonts/lilmrkr-open-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.2em !important;
    /* color: black !important; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', cursive !important;
    font-weight: bold;
    /* color: black !important; */
}

#loner , h1.app-name {
  font-family: 'lilmrkr' !important;
  font-size: 4em;
  color:black;
}

.search a:hover, 
.search .search-keyword, 
.app-nav a:hover, 
.app-nav a:active,
.sidebar ul li.active > a, 
.markdown-section a, 
.token.attr-value, 
.token.control, 
.token.directive, 
.token.string, 
.token.unit, 
section.cover .cover-main > p:last-child a,
section.cover blockquote > p > a:hover
{ color: black }  

.github-corner svg {
  fill: black;
}

section.cover .cover-main>p:last-child a {
    border: 1px solid black;
  }
  
section.cover .cover-main>p:last-child a:last-child {
   background-color: black;
}